@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display:flex;
    flex-direction:column;
    height:100vh;
    font-family:'Roboto', sans-serif;
    margin:0;
}

.header{
    background-color: #1F2937;
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:20px 0;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul{
    list-style: none;
    display:flex;
    gap:16px;
    margin:0;
    padding:0;
}

a{
    color: #e5e7eb;
    text-decoration:none;
    font-size:18px;
}

.hero{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    gap:16px;
    padding:45px 0;
    flex:1;
}

.hero-textbold{
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}

.left-hero{
    display:flex;
    flex-direction:column;
    flex-basis:500px;
    height:300px;

}

.hero-image{
    flex-basis:500px;
    height:300px;
    object-fit: cover;
}

.hero-text{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom:16px;
}

.hero-button{
    font-size: 16px;
    color:#f9faf8;
    background-color:#3882f6;
    font-weight:600;
    padding:5px 30px;
    align-self:flex-start;
    border:none;
    border-radius: 5px;
}

.gallery{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f9faf8;
    padding-top:16px;
    padding-bottom:55px;
    gap:16px;
    flex:1;
}

.gallery-header{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
}

.gallery-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-width:150px;
    flex-wrap:wrap;
    gap:8px;
}

.gallery-image{
    max-width:150px;
    border:3px solid #3882f6;
    border-radius:7px;
    flex:1 0 150px;
}

.gallery-text{
    color:#1F2937;
}

.quote{
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    flex:1;
    padding-top:80px;
    padding-bottom:80px;
}

.quote-container{
    display:flex;
    flex-direction:column;
    max-width:800px;
    flex-wrap:wrap;
}

.quote-text{
    font-size:36px;
    font-style: italic;
    font-weight:300;
    color:#1F2937;
}

.quote-speaker{
    align-self:flex-end;
}